<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="description" content="Souka">
</head>
<body class="soukabody">
  <div class="container">
    <!-- バナー画像 --> 
        <img src="/images/souka_drop.png" alt="Souka Logo" class="banner fade-in">
        <img src="/images/souka_text.png" alt="HOME入口ですだちジュース提供しています。ぜひお越し下さい" class="souka-text fade-in2">
    <!-- マップとピン -->

    <img src="/images/souka_pic.png" alt="Soukashop photo" class="photo fade-in">

    <div class="map-container">
      <img src="/images/HOME-1.png" alt="Map" class="map fade-in2">
      <img src="/images/location_on.png" alt="Location Pin" class="location-pin">

    </div>
    <h1 class="maptext">Map</h1>

    

  </div>
</body>
</html>
